<div class="body-content">
  <div class="row  center col-lg-11 col-sm-11 col-xs-11" style="align-content:center; text-align:center">
    <h1>Weather Dashboard</h1>
  </div>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script type="text/javascript" src="node_modules/chart.js/Chart.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="node_modules/chart.js/src/chart.js"></script>

  <div class="row col-lg-11 col-sm-11 col-xs-11" style="background-color:aliceblue;align-content:center; text-align:center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
      <canvas id="myChart" class="col-sm-12"></canvas>
    </div>
    <div class="row col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
      <div>
        <sm-dropdown  title="select city" class="pointing floating labeled icon btn">
          <sm-item routerLink='/city/CdObregon' routerLinkActive="active">Cd Obregon</sm-item>
          <sm-item routerLink='/city/Navojoa' >Navojoa</sm-item>
          <sm-item routerLink='/city/Hermosillo'>Hermosillo</sm-item>
          <sm-item routerLink='/city/Nogales'>Nogales</sm-item>
        </sm-dropdown>
      </div>
      <div>
        <sm-dropdown title="select unit" class="pointing floating labeled icon btn">
          <sm-item >°C</sm-item>
          <sm-item >°F</sm-item>
        </sm-dropdown>
      </div>
    </div>
  </div>
  <div class="row col-lg-11 col-md-11 col-sm-11 col-xs-11 center" style="background-color:aliceblue;align-content:center; text-align:center">
    <p *ngIf="!(DayTemperatures)">
      No Data.
    </p>
    <p *ngIf="cityName">
      {{ cityName }}
    </p>
    <div style="display:inline-block">
      <table class='table' *ngIf="DayTemperatures">
        <thead>
          <tr>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dates of DayTemperatures.date">
            <td> {{ dates }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="display:inline-block">
      <table class='table' *ngIf="DayTemperatures">
        <thead>
          <tr>
            <th>Temperature</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let temperature of DayTemperatures.temperature">
            <td> {{ temperature }} </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>

